@charset "UTF-8";

.main_section01{
    width: 100%;
    height: 600px;
    background-image: url(/resources/img/main/main_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-height: 600px;
}
.main_section01_h1{
    font-size: 48px;
    color: #fff;
    margin:50px 0;
}
.main_selectbox{
    background: #fff;
    border-radius: 50px;
    padding: 10px;
    width: 960px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_selectbox input{
    border: none;
    outline: none;
    margin-right: 10px;
    padding: 5px 8px 5px 15px;
    font-size: 16px;
    height: 40px;
    width: 300px;
}
.search_main_btn{
    background: -webkit-linear-gradient(to right bottom, #af6bfc, #956bfc);
	background: linear-gradient(to right bottom, #af6bfc, #956bfc);
    border-radius: 50px;
    color: #fff;
    padding: 12px 20px;
    margin-left:15px;
    cursor: pointer;
}
.search_main_btn img{
    width: 20px;
    vertical-align: sub;
    margin-left: 5px;
}

/* 셀렉트 박스 */
/* .custom-select-wrapper {
    flex: 1;
} */
.custom-select {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 160px;
}
.custom-select__trigger {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-sizing: border-box;
   color: #1b1b1b;
   padding: 0 15px;
   height: 40px;
   background: #ffffff;
   border-right: 2px solid #eee;
   cursor: pointer;
}
.custom-select-wrapper:first-of-type .custom-select__trigger{border-left:2px solid #eee;}
.custom-select-wrapper:nth-child(4) .custom-select__trigger{border-right: 0!important;}
.custom-options {
   position: absolute;
   display: block;
   top: 100%;
   left: 0;
   right: 0;
   border-top: 0;
   background: rgba(255,255,255,0.7);
   transition: all 0.5s;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   z-index: 2;
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    border-radius: 0 0 1rem 1rem;
}
.custom-option {
   position: relative;
   display: block;
   padding: 0 15px;
   font-weight: 400;
   color: #1b1b1b;
   line-height: 40px;
   cursor: pointer;
   transition: all 0.1s;
}
.custom-option:hover {
    cursor: pointer;
    color:#fff!important;
    background-color:rgba(149,107,252,.8);
}
.custom-option:nth-last-child(1):hover {
   cursor: pointer;
   color:#fff;
   border-radius: 0 0 1rem 1rem;
   box-sizing:border-box;
   background-color:rgba(149,107,252,.8);
}
.custom-option.selected {
    color: #956bfc;
}
.arrow {
   position: relative;
   height: 12px;
   width: 10px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.1rem;
    border-radius:5rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: 0;
    transform: rotate(45deg);
    background-color: #956bfc;
}
.arrow::after {
    left: 8px;
    transform: rotate(-45deg);
    background-color: #956bfc;
}
.open .arrow::before {
    left: 0;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 8px;
    transform: rotate(45deg);
}

/* main_section02 */

.main_house_list{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.main_house_list li{
    width: 390px;
    border: 1px solid #eee;
    overflow: hidden;
    float: left;
    border-radius: 20px;
    margin-right:10px;
    box-sizing: border-box;
}
.house_list_photo{
    width: 100%;
    height: 230px;
    overflow: hidden;
    position: relative;
}
.house_list_photo>img:last-child{
    height:100%;
    width:100%;
    object-fit: cover;
}

.house_list_text{
    padding: 20px;
    height: 161px;
}
.list_line_01{
    overflow: hidden;
}
.list_tag{
    border: 2px solid #956bfc;
    border-radius: 50px;
    padding: 3px 8px;
    float: left;
    margin-right: 10px;
    width: 81px;
    font-family: 'ns_500';
    color: #956bfc;
}
.list_house_title{
    font-size: 18px;
    font-family: "ns_700";
}
.list_house_title, .house_content{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;	
}
.house_content>p>span{
	display: none;
}
.house_content p, .house_content>p>br{
	display:none;
}
.house_content p:first-child{
	display:block;
}
.house_content p:first-child img{
	display: none;
}
.house_content>p>span:first-child,.house_content>p>span:nth-child(2) {
	display:block;
}
.list_line_02{
    margin: 8px 0px 12px 0px;
    height: 40px;
}
.list_line_03{
	display:flex;
	align-items: center;
}
.house_content{
	color:#666;
}
.house_form{
    color:#ff0071;
    margin-right: 10px;
}
.house_sum{
    position: relative;
    padding-left: 10px;
    color: #666;
}
.house_sum:before {
    content: "";
    left: -1px;
    height: 0.8em;
    top: 50%;
    margin-top: -0.4em;
    position: absolute;
    border-left: 1px solid #aaa;
}
.house_more_btn{
    background: #956bfc;
    width: 100%;
    text-align: center;
    height: 50px;
    color: #fff;
    display: block;
    font-size: 20px;
    line-height: 50px;
}
/* main_section03 */
.main_section03{
    background: #f9f9f9;
    width: 100%;
    padding: 50px 0px;
}
.main_section03>.container_mate{
    background: #fff;
    box-shadow: 0 0 1.25rem rgb(0 0 0 / 10%);
    border-radius: 20px;
    display: flex;
    height: 160px;
    padding: 0px 50px;
    align-items: center;
}
.main_section03 h2{
    font-size: 36px;
}
.main_section03 h3{
    font-size: 28px;
}
.section03_point{
    font-family: "logo";
    color: #956bfc;
    font-size: 42px;
}
.sect03_left{
    flex-grow: 1;
}
.sect03_left, .sect03_right{
    float: left;
}
.search_main_btn2{
    background: -webkit-linear-gradient(to right bottom, #af6bfc, #956bfc);
	background: linear-gradient(to right bottom, #af6bfc, #956bfc);
    border-radius: 50px;
    color: #fff;
    padding: 20px 30px;
    margin-left:15px;
    font-size: 22px;
}
.search_main_btn2 img{
    width: 30px;
    vertical-align: sub;
    margin-left: 5px;
}
.search_main_btn2:hover, .search_main_btn:hover{
    background: -webkit-linear-gradient(to right bottom, #a55ff5, #895ff1);
	background: linear-gradient(to right bottom, #a55ff5, #895ff1);
}

/* */
.main_section05{
    width: 100%;
    height: 400px;
    background-image: url(/resources/img/main/main_footer_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.main_section05 h3{
	font-family: "ns_300";
}
.main_section05 h1{
	font-family: "ns_300";
	margin-top:5px;
	font-size:48px;
}
.main_section05 a{
	background:#ffffffa1;
	border:2px solid #956bfc;
	color:#956bfc;
	width:200px;
	height: 60px;
	line-height: 55px;
	font-size:22px;
	margin-top:25px;
	transition-duration: 0.5s;
	cursor: pointer;
}
.sect05_btn:hover{
	background: #956bfc;
	color:#fff;
}

/* 좋아유 */
/* 좋아요 버튼 부분 */
.like_house{
    position: absolute;
    right: 15px;
    top: 15px;   
}
.heart{
	cursor: pointer;
    outline:none;
    border:none;
    background:none;
    width:35px;
}
.heart img{
	-webkit-animation: scaleUpCenter .4s ease-out both;
	animation: scaleUpCenter .4s ease-out both;
}
.heart2{
	cursor: pointer;
    outline:none;
    border:none;
    background:none;
    width:35px;
}
.heart2 img{
	-webkit-animation: scaleUpCenter .4s ease-out both;
	animation: scaleUpCenter .4s ease-out both;
}
.like_house img{
    width: 30px;
}
@-webkit-keyframes scaleUp {
from { opacity: 0; -webkit-transform: scale(.8); }
}


/* helper */
.main_helper_list{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.main_helper_list li{
    width: 292px;
    border: 1px solid #eee;
    overflow: hidden;
    float: left;
    border-radius: 20px;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}
.main_helper_list li:last-child{
	margin-right:0;
}
.helper_list_profile{
	width:100%;
}
.helper_list_profile img{
	display: block;
}
.helper_list_photo{
	width: 100%;
    overflow: hidden;
    position: relative;
}
.like_helper{
    position: absolute;
    right: 3px;
    top: 3px;   
}
.like_helper img {
	width: 30px;
}
.helper_list_text_name{
	display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top:30px;
}
.helper_list_nickname{
	font-size: 18px;
    font-family: "ns_700";
	text-align: center;
	float:left;
	margin-right:5px;
}
.helper_list_age, .helper_list_gender{
	float:left;
	color:#666;
	font-size:14px;
}
.helper_Category{
	margin-top:15px;
	float:left;
	clear:both;
	width:100%;
	height: 52px;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	overflow: hidden;
	position: relative;
}
.helper_list_text_info{
	margin-top:15px;
	float:left;
	clear:both;
	width: 100%;
    display: flex;
    justify-content: center;
}
.helper_Category_title{
    margin-right: 5px;
    font-size: 14px;
    color: #9c9ba1;
    display: inline-block;
}

.helper_list_text_code{
	background: #f9f9f9;
    border: 1px solid #eee;
    padding: 2px 12px;
    border-radius: 50px;
    margin-right: 5px;
    font-size: 14px;
    color: #666;
    margin-bottom:5px;
    display: inline-block;
    float:left;
}
.helper_Category:before {
  content: "";
  display: block;
  width: 20px;
  border-top: 2px solid #956bfc;
  margin:0 auto;
  margin-bottom:5px;
}
.helper_list_intro{
	width: 100%;
    height: 70px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 8px;
    float: left;
    clear: both;
}
.helper_list_intro p{
	margin-bottom:0;
}