<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="kr.or.member.model.vo.Member" alias="m"/>
		<typeAlias type="kr.or.common.Photo" alias="f"/>
		<typeAlias type="kr.or.notice.model.vo.Notice" alias="n"/>
		<typeAlias type="kr.or.notice.model.vo.FileVO" alias="fi"/>
	</typeAliases>
</configuration>
