<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings> 
	    <setting name="cacheEnabled" value="false" />
	    <setting name="jdbcTypeForNull" value="NULL" />
	</settings>	
	<typeAliases>
		<typeAlias type="kr.or.member.model.vo.Member" alias="m"/>
		<typeAlias type="kr.or.profile.model.vo.Profile" alias="p"/>
		<typeAlias type="kr.or.common.Photo" alias="f"/>
		<typeAlias type="kr.or.common.Address" alias="addr"/>
		<typeAlias type="kr.or.house.model.vo.House" alias="h"/>
		<typeAlias type="kr.or.room.model.vo.Room" alias="r"/>
		<typeAlias type="kr.or.common.Income" alias="i"/>
		<typeAlias type="kr.or.common.Tour" alias="t"/>
		<typeAlias type="kr.or.common.Bookmark" alias="book"/>
		<typeAlias type="kr.or.admin.model.vo.UpdateMember" alias="um"/>
		<typeAlias type="kr.or.notice.model.vo.Notice" alias="n"/>
		<typeAlias type="kr.or.notice.model.vo.FileVO" alias="fi"/>
		<typeAlias type="kr.or.common.Report" alias="rp"/>
		<typeAlias type="kr.or.board.model.vo.Board" alias="b"/>
		<typeAlias type="kr.or.board.model.vo.MateComment" alias="mc"/>
		<typeAlias type="kr.or.common.Move" alias="move"/>
		<typeAlias type="kr.or.helper.model.vo.Helper" alias="hp"/>
	</typeAliases>
</configuration>
