<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="kr.or.member.model.vo.Member" alias="m"/>
		<typeAlias type="kr.or.common.Photo" alias="f"/>
		<typeAlias type="kr.or.common.Address" alias="addr"/>
		<typeAlias type="kr.or.house.model.vo.House" alias="h"/>
		<typeAlias type="kr.or.common.Income" alias="i"/>
		<typeAlias type="kr.or.admin.model.vo.UpdateMember" alias="um"/>
	</typeAliases>
</configuration>
