.container_mate>h1{
	padding-left: 35px;
}
.container_mate>div{
	display: flex;
	margin-top:50px;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
}
.alarm{
	width:calc(1200px/3);
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 130px; 
}
.alarm:nth-child(2){
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}
.alarm>div{
	display: flex;
	justify-content: center;
	align-items: center;
}
.alarm>div>p{
	font-size: 18px;
	margin: 0 0 0 10px;
	cursor: default;
	font-family: "ns_700";
}
.alarm>div>img{
	width:28px;
	height: 28px;
}
.alarm>div>a{
	font-size: 17px;
}