.searchBox{
    display: flex;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    margin: 50px 0 50px 0;
    padding: 30px 20px 30px 20px;
    align-items: center;
    position: relative;
}
.resetSearch{
	position: absolute;
	bottom: 10px;
	right: 25px;
}
.searchBox>div{
    width: 50%;
}
.searchBox>div:last-child{
    display: flex;	
}
.searchBox>div:last-child{
    justify-content: flex-end;
    align-items: center;
}
.chkBox>table{
	width:100%;
}
.chkBox>table tr{
	height:40px;
}
.chkBox>table th{
	width:15%;
	text-align: left;
	padding-left: 10px;
}
.chkBox>table tr>td{
	width:16%;
	text-align: left;
}
.chkBox>table tr>td:first-of-type{
	width:12%;
}
.chkBox>table tr>td:nth-of-type(3){
	width:12%;
}
input[type="checkbox"]{
    margin-right: 5px;
}
.chkBox>table select{
	width:130px;
	height: 30px;
	display: inline-block;
	line-height: 1;
}
.searchBox select:focus{
    box-shadow: none;
    border-color: #956bfc;
}
.keywordBox{
	display: flex;
	justify-content: flex-end;
}
.keywordBox input[type="submit"]{
    line-height: 0;
    width: 100px;
}
.keywordBox>select{
    width: auto;
    height:45px;
}
.keywordBox input[name="keyword"]{
    width: 250px;
    height:45px;
}
.keywordBox input[name="keyword"]::placeholder{
	color:#ddd;
}
.container_mate>div>table{
	table-layout: fixed;	
}
.container_mate a{
	color: #333;
}
.container_mate table a:hover, .searchBox a:hover{
	color:#8500ff;
	text-decoration: underline;
	cursor: pointer;
}
table p{
	margin: 50px 0;
	text-align: center;
}
.table-active_mate{
	align-items: center;
	margin-bottom: 10px;
}
.table > :not(caption) > * > *{
    box-shadow: none;
}
.container_mate>h1{
	padding-left: 35px;
}
.form-check-input:focus{
	box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.25);
}

.btn:focus{
	box-shadow: none;
}
#notice>p, #textBox>p{
	margin: 0;
	font-size: 15px;
	color: #ff5656;
}
#textBox{
	position: absolute;
	bottom: -40px;
	right:25px;
}
.container_mate>div>.table *{
	text-indent: 50px;
}
/*
.table>tbody>tr>.addressTd{
	text-align: left;
	padding:0.5rem 30px;
}
*/