.container_mate>div{
    margin: 0 auto;
    width: 645px;
}
.container_mate>h1{
	padding-left: 35px;
}
.table > :not(caption) > * > *{
    box-shadow: none;
    border-bottom: none;
}
.btn{
    padding: 0;
}
.table-active_mate{
    align-items: center;
	margin-bottom: 10px;
}
.form-switch .form-check-input{
    width: 60px;
}
.form-check-input{
    height: 30px;
}
.table>tbody>tr:last-child{
	margin-bottom: 0;
}
.table>tbody>tr:last-child>th:nth-child(3){
    margin-left: 85px;
	position: relative;
}
.table>tbody>tr:last-child>th:nth-child(3)>span{
	position: absolute;
	left:-6px;
	top:30px;
	font-family: "ns_300";
	font-size: 13px;
	color:#8500ff;
}
.img-viewr+label{
	margin-top: 115px;
}
.btnBox{
    margin: 70px auto 0px;
    display: flex;
    width: 400px;
    justify-content: space-around;
}
.select input[type=radio]+label{
	line-height: 32px;
}
table input::placeholder{
	color: #ddd;
}
.table>tbody>tr:nth-of-type(6)>td {
	position: relative;
}
.table>tbody>tr:nth-of-type(6)>td>span{
	position: absolute;
	font-size: 13px;
	color: #8500ff;
	left: 230px;
}
.form-check-input:focus{
	box-shadow: none;
}
.container_mate .table a{
	color:#333;
}
.container_mate .table a:hover{
	color:#8500ff;
	text-decoration: underline;
}
/* 프로필 모달 */
.modal_profile{
	height:100%;
	background:rgba(0, 0, 0, 0.5);
	position:fixed;
	z-index: 9999;
	display:none;
	justify-content: center;
	align-items: center;
}
.modal_profile_win{
	width:600px;
	height:640px;
	background-color: #fff;
	box-shadow: 0 8px 32px 0 rgba(68, 71, 106, 0.8 );
	border-radius: 15px;
	overflow: hidden;
}
.modal_profile_title{
	height:60px;
	display:flex;
	background-color: #956bfc;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
}
.modal_profile_title>h3{
	margin:0;
	color: #fff;
}
.modal_profile_close{
	cursor: pointer;
}
.modal_profile_close>img{
	width:25px;
}
.modal_profile_content table{
	margin: 35px auto;
	width:500px;
}
.modal_profile_content .table-active_mate th{
	width: 145px;
}
.modal_profile_content .btn{
	line-height: 0;
	width:120px;
	height:40px;
	font-size: 17px;
}
.modal_profile_content .form-select:focus{
	box-shadow: none;
}
.modal_profile_content .form-select{
	width:150px;
}
.modal_profile_content .select input[type=radio]+label{
	width:100px;
}
.modal_profile_content .btnBox{
	margin:35px auto 0;
	display:flex;
	justify-content: space-around;
	width:300px;
}
.btn:focus{
	box-shadow: none;
}
.form-switch .form-check-input{
	border-radius: 15px;
}