.container_win{
	margin: 40px auto;
	width: 500px;
}
.container_win>div{
	margin-top: 40px;
}
.table > :not(caption) > * > *{
    box-shadow: none;
    border-bottom: none;
}
.table-active_mate{
	margin-bottom:10px;
	align-items: center;
}
.table-active_mate th{
	width: 145px;
}
.btn{
	line-height: 0;
	width:120px;
	height:40px;
	font-size: 17px;
}
.form-select:focus{
	box-shadow: none;
}
.form-select{
	width:150px;
}
.select input[type=radio]+label{
	width:100px;
}
.btnBox{
	margin:35px auto 0;
	width:350px;
	display:flex;
	justify-content: space-around;
}