@charset "UTF-8";
	.btn-right{
		float: right;
		font-family: "ns_500";
	}
	table *{
	    text-align: center;
	}
	table a{
		color: #333;
	}
	.container_mate>h1{
		padding-left: 35px;
	}
