@charset "UTF-8";
.community-table{
	margin-top: 30px;
}
tr>th {
	text-align: center;
}
.trstyle{
	text-align:center; 
	height:30px;
	vertical-align: middle;
}
.tdstyle{
	border-bottom:1px solid #8C8C8C;
}
.page-navi{
	text-align: center;
	margin-left: 45%;
}
span:hover{
	cursor: pointer;
	font-wight: bolder;
	color: #956bfc;
	}
.communityTbl td{
	height:30px;
	vertical-align: middle;
	text-align: center;
}
.communityTbl td>p{
	margin: 0px;
}
