@charset "UTF-8";
	button:active {
		position: relative;
	 	background-color: lightgray;
	}
	em {
		margin-top: 3px;
		font-size : 15px;
		color: red;
		font-weight: 800;
	}
	.join_wrap{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #f8f8fa;
		overflow-y: scroll;
	}
	.join_wrap .join_container{
		width: 600px;
		margin: 150px auto 210px;
	}
	.join_wrap .join_cont{
		background: #fff;
		padding: 50px 45px 60px;
	}
	.btn_wrap{
		padding: 30px 0 0;
	}
	.btn_wrap a{
		display: block;
		line-height: 60px;
		border-radius: 5px;
		background: #D35460;
		text-align: center;
		font-size: 15px;
		color: #fff;
		font-weight:bold;
		letter-spacing:-0.5px;
		text-decoration: none;
	}
	.join_wrap .join_cont>p{
		font-size: 15px;
		color: #828282;
		letter-spacing: -0.5px;
		line-height: 1.5;
	}
	.img_wrapp{
		margin-top:30px;
		float:left;
		margin-bottom:20px;
		display: flex;
		align-items: flex-end;
	}
	#fileItem{
	float:left;
	margin-left:20px;
	}
	.img_wrapp img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    object-fit: cover;
    }
	.select{
	float:left;
	clear:both;
	}
	.gender, .age{
		display: inline;
		float:left;
		clear:both;
		margin-top:25px;
	}
	.join_title{
	float:left;
	clear:both;
	margin-top:25px;
	}
	#joinsubmit{
		width:100%;	
		line-height: normal;
	}
	.in-line{
		width:100%;	
		display:flex;
	}
	#authCode{
		width: 40%;
	 	display: inline-block;
	 	height: 48px;
	}
	#memberIdChk, #emailbutton{
	 	width:40%;
	 	line-height: normal;
	 	margin-left:3px;
	}
	#authBtn{
		width:149.15px;
	 	line-height: normal;
	}
	.Mate_logo a{
		font-size:40px;
		font-family: "logo";
		color: #956bfc;
		text-decoration: none;
		line-height: 60px;	
	}
	.Mate_logo{
		text-align: center;
		padding-bottom: 10px;
	}
	.agreeArea{
		overflow : scroll;
		height: 250px;
		padding: 20px;
		border: 1 solid #cccccc;
	}
	