@charset "UTF-8";
	p{
		margin:0px;
	}
	.card-title{
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.slideOpen{
		width: 100%;
		height: auto;
		overflow: hidden;
		padding: 10px;
		/* position: absolute; */
		top: 630px;
		background: #fff;
		z-index: 1;
		text-align:left;
		display: none;
		border: 1px solid #8C8C8C; 
		margin-bottom:20px; 
		padding-left:20px;
	}
	.Mate_logo a{
		font-size:40px;
		font-family: "logo";
		color: #956bfc;
		text-decoration: none;
		line-height: 60px;	
	}
	.Mate_logo{
		padding-bottom: 10px;
	}
	.localH{
		display:inline-block
	}
	#profilesubmit{
		width: 30%;	
		line-height: normal;
	}
	.Matitle{
		font-size: 30px; 
		color:#956bfc; 
		font-weight: bolder;
	}
	.btn-secondary {
		float: right;
	}	
	#profileUp{
		margin-left:5px;
	}
	#profileUp, #communityWt{
		padding-top: 10px;
		line-height: normal;
		font-size:15px;
	}
	.form-check {
		display: block;
		float: left;
		padding-top: 5px;
		padding-right: 15px;
	}
	.MateSearch {
		display: flex;
		float: right;
		float: left;
		margin-bottom: 10px;
	}
	.lg_box{
		border : 1px solid #d4d4d4;
		padding: 30px;
		background : #f9f9f9;
		margin-top:30px;
	}
	.searchfs{
		font-size:12px;
	}
	.searchsty{
		width: 30px; 
		height: 30px; 
		cursor: pointer; 
		margin-left: 8px;
		display:block;
	}
	.lg_box>.m_box {
    	border: 1px solid #d4d4d4;
	}
	.m_box {
	    background: #f1f5fb;
	    padding: 15px;
	    margin-right: 10px;
	    border: 1px solid #eee;
	}
	ul.m_box > li {
	    position: relative;
	    padding-left: 12px;
	    font-size: 16px;
	    font-weight: 400;
	    color: #252525;
	    letter-spacing: -0.03em;
	    line-height: 26px;
	}
	
	ul.m_box > li:before {
	    width: 4px;
	    height: 4px;
	    background: #252525;
	    position: Absolute;
	    left: 0;
	    top: 10px;
	    display: block;
	}
	.mbold{
	 	list-style:none;
	}
	.searchIm{
		width: 30px; 
		height: 30px; 
		top: 5px; 
		right: 10px; 
		margin-top: 5px; 
		position: absolute; 
		margin-right: 10px; 
		cursor:pointer;
	}
	.emptyList {
	     width: 100%;
	     height: 300px;
	     line-height: 300px;
	     font-size: 20px;
	     color: #252525;
	     text-align: center;
	}
	div>.card-content{
		display:inline;
	}
	.memberImg{
		width: 50px;
		height: 50px;
		object-fit: cover;
	}
	.prof{
	    border-radius: 100%;
	    overflow: hidden;
	}
	.profile{
		float:left;
	}
	.card-text{
		margin-bottom: 0px;
		color: #956BFC;
		font-weight: border;
		font-size: 15px;
	}
	.cardImg {
	    float: left;
	    width: calc(100%/4);
	    box-sizing: border-box; 
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.card-img-top{
	 	height:250px;
	 	cursor:pointer;
	}
	.card-body{
		cursor:pointer;
	}
	p.card-content{
		font-size: 15px;
	}
	.cardTC{
		padding-left:60px;
	}
	#moreBtn{
		margin-left: 10px;
	    margin-right: 10px;
		width: 1182px;
		line-height: normal;
	}
